This is authorization page
{{ message }}
<form method="POST" action="/index.php?controller=user&action=login">

    <label for="login">Login</label>
    <input type="text" id="login" name="login">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <input type="submit" value="Sign in">
</form>

Click here for <a href="/index.php?controller=security&action=registerPage&available=true">registration</a>