<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}Comments Board{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block menu %}
        <div class="menu">
            <a href="/index.php?controller=user&action=logout">Logout</a>
        </div>
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>