{% extends 'base.html.twig' %}

{% block content %}
    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <form method="POST" action="/index.php?controller=comments&action=new" id="newcomment">
        <div class="form-group">
            <label for="content">Comment:</label>
            <textarea class="form-control" id="content" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-info btn-sm" id="sendComment">Send comment</button>

    </form>
    <div id="newCommentBlock"></div>
    {% include 'comments_list.html.twig' with {'comments':comments} %}
    <script>
        function funcBefore() {
            $("#newCommentBlock").text("Ожидание данных...")
            $("#sendComment").prop('disabled', true);
        }

        $(document).ready(function() {
            $("#sendComment").click(function(e) {
                e.preventDefault(); //отменяет действие браузера по умолчанию

                var content = "content="+ $("#content").val();

                if ($("#content").val()==="")
                {
                    alert ("Enter your comment");
                    return false;
                }

                $.ajax ({
                    url: "/index.php?controller=comments&action=new",
                    type: "POST",
                    dataType: "text",
                    beforeSend: funcBefore(),
                    //complete: funcAfter(),
                    data: content,
                    success: function(response) {
                        $("#comments").prepend(response);
                        $("#newCommentBlock").html("");
                        $("#content").val("");
                        $(".subcommentform").hide();
                        $("#sendComment").prop('disabled', false);
                    },
                    error:function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }
                });
            });
        });

        $(".subcommentform").hide();

        






    </script>
{% endblock %}