<div id="comments" name="comments">
    {% if not comments %}
        <span class="empty">There are no comments yet. Be the first...</span>
    {% endif %}
    {% for comment in comments %}
        {% if(comment.parent == null) %}
                {% include 'comment_block.html.twig' with {'comment':comment} %}
        {% endif %}
    {% endfor %}
</div>