<div id="comments" name="comments">
    {% if not comments %}
        There are no comments yet. Be the first...
    {% endif %}
    {% for comment in comments %}
        {% include 'comment_block.html.twig' with {'comment':comment} %}
    {% endfor %}
</div>