This is registration page
{{ message }}
<form method="POST" action="/index.php?controller=user&action=new" enctype="multipart/form-data">

    <label for="login">Login</label>
    <input type="text" id="login" name="login">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" name="confirmPassword">

    <input type="hidden" name="MAX_FILE_SIZE" value="3000000" />
    <input name="myfile" type="file" />

    <input type="submit" value="Register me">
</form>

<a href="/index.php?controller=security&action=authPage&available=true">Sign in</a> if you already have accaunt